<h1> <%= @animal.name() %> </h1>

<dl class="dl-horizontal">
  <dt>Sex</dt>
  <dd> <%= @animal.sex() %> </dd>

  <dt>Date of Admittance</dt>
  <dd> <%= @animal.date_of_admittance() %> </dd>

  <dt>Type</dt>
  <dd> <%= @animal.type() %> </dd>

  <dt>Breed</dt>
  <dd> <%= @animal.breed() %> </dd>
</dl>


<a href="/animals/<%= @id %>/adopt">
  <button type="submit" class="btn btn-default" value="adopt">Adopt <%= @animal.name() %></button>
</a>
